# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another team can own the rest of the directory.

*                                         @DataDog/marketplace @DataDog/marketplace-product-management
/*/README.md                              @DataDog/marketplace @DataDog/agent-integrations @DataDog/marketplace-product-management @DataDog/documentation
/*/manifest.json                          @DataDog/marketplace @DataDog/agent-integrations @DataDog/marketplace-product-management @DataDog/documentation @DataDog/subscriptions-marketplace-review
datadog_checks/                           @DataDog/agent-integrations @DataDog/marketplace-product-management

# Rapdev
/o365/                                    @rapdev @DataDog/marketplace @DataDog/marketplace-product-management
/o365/*.md                                @rapdev @DataDog/marketplace @DataDog/marketplace-product-management @DataDog/documentation
/o365/manifest.json                       @rapdev @DataDog/marketplace @DataDog/agent-integrations @DataDog/marketplace-product-management @DataDog/documentation @DataDog/subscriptions-marketplace-review
/o365/datadog_checks/                     @rapdev @DataDog/agent-integrations @DataDog/marketplace-product-management

/oracle_timesten/                         @rapdev @DataDog/marketplace @DataDog/marketplace-product-management
/oracle_timesten/*.md                     @rapdev @DataDog/marketplace @DataDog/marketplace-product-management @DataDog/documentation
/oracle_timesten/manifest.json            @rapdev @DataDog/marketplace @DataDog/agent-integrations @DataDog/marketplace-product-management @DataDog/documentation @DataDog/subscriptions-marketplace-review
/oracle_timesten/datadog_checks/          @rapdev @DataDog/agent-integrations @DataDog/marketplace-product-management

/rapdev_maxdb/                            @rapdev @DataDog/marketplace @DataDog/marketplace-product-management
/rapdev_maxdb/*.md                        @rapdev @DataDog/marketplace @DataDog/marketplace-product-management @DataDog/documentation
/rapdev_maxdb/manifest.json               @rapdev @DataDog/marketplace @DataDog/agent-integrations @DataDog/marketplace-product-management @DataDog/documentation @DataDog/subscriptions-marketplace-review
/rapdev_maxdb/datadog_checks/             @rapdev @DataDog/agent-integrations @DataDog/marketplace-product-management

/rapdev_nutanix/                          @rapdev @DataDog/marketplace @DataDog/marketplace-product-management
/rapdev_nutanix/*.md                      @rapdev @DataDog/marketplace @DataDog/marketplace-product-management @DataDog/documentation
/rapdev_nutanix/manifest.json             @rapdev @DataDog/marketplace @DataDog/agent-integrations @DataDog/marketplace-product-management @DataDog/documentation @DataDog/subscriptions-marketplace-review
/rapdev_nutanix/datadog_checks/           @rapdev @DataDog/agent-integrations @DataDog/marketplace-product-management

/rapdev_services/                         @rapdev @DataDog/marketplace @DataDog/marketplace-product-management
/rapdev_services/*.md                     @rapdev @DataDog/marketplace @DataDog/marketplace-product-management @DataDog/documentation
/rapdev_services/manifest.json            @rapdev @DataDog/marketplace @DataDog/agent-integrations @DataDog/marketplace-product-management @DataDog/documentation @DataDog/subscriptions-marketplace-review
/rapdev_services/datadog_checks           @rapdev @DataDog/agent-integrations @DataDog/marketplace-product-management

/rapdev_solaris_agent/                    @rapdev @DataDog/marketplace @DataDog/marketplace-product-management
/rapdev_solaris_agent/*.md                @rapdev @DataDog/marketplace @DataDog/marketplace-product-management @DataDog/documentation
/rapdev_solaris_agent/manifest.json       @rapdev @DataDog/marketplace @DataDog/agent-integrations @DataDog/marketplace-product-management @DataDog/documentation @DataDog/subscriptions-marketplace-review
/rapdev_solaris_agent/datadog_checks      @rapdev @DataDog/agent-integrations @DataDog/marketplace-product-management

/rapdev_validator/                        @rapdev @DataDog/marketplace @DataDog/marketplace-product-management
/rapdev_validator/*.md                    @rapdev @DataDog/marketplace @DataDog/marketplace-product-management @DataDog/documentation
/rapdev_validator/manifest.json           @rapdev @DataDog/marketplace @DataDog/agent-integrations @DataDog/marketplace-product-management @DataDog/documentation @DataDog/subscriptions-marketplace-review
/rapdev_validator/datadog_checks          @rapdev @DataDog/agent-integrations @DataDog/marketplace-product-management

/rapdev_zoom/                             @rapdev @DataDog/marketplace @DataDog/marketplace-product-management
/rapdev_zoom/*.md                         @rapdev @DataDog/marketplace @DataDog/marketplace-product-management @DataDog/documentation
/raodev_zoom/manifest.json                @rapdev @DataDog/marketplace @DataDog/agent-integrations @DataDog/marketplace-product-management @DataDog/documentation @DataDog/subscriptions-marketplace-review
/rapdev_zoom/datadog_checks               @rapdev @DataDog/agent-integrations @DataDog/marketplace-product-management

/rapdev-snmp-profiles/                    @rapdev @DataDog/marketplace @DataDog/marketplace-product-management
/rapdev-snmp-profiles/*.md                @rapdev @DataDog/marketplace @DataDog/marketplace-product-management @DataDog/documentation
/rapdev-snmp-profiles/manifest.json       @rapdev @DataDog/marketplace @DataDog/agent-integrations @DataDog/marketplace-product-management @DataDog/documentation @DataDog/subscriptions-marketplace-review @DataDog/revenue-metering-platform
/rapdev-snmp-profiles/datadog_checks      @rapdev @DataDog/agent-integrations @DataDog/marketplace-product-management

/reporter/                                @rapdev @DataDog/marketplace @DataDog/marketplace-product-management
/reporter/*.md                            @rapdev @DataDog/marketplace @DataDog/marketplace-product-management @DataDog/documentation
/reporter/manifest.json                   @rapdev @DataDog/marketplace @DataDog/agent-integrations @DataDog/marketplace-product-management @DataDog/documentation @DataDog/subscriptions-marketplace-review
/reporter/datadog_checks                  @rapdev @DataDog/agent-integrations @DataDog/marketplace-product-management

/syntheticemail/                          @rapdev @DataDog/marketplace @DataDog/marketplace-product-management
/syntheticemail/*.md                      @rapdev @DataDog/marketplace @DataDog/marketplace-product-management @DataDog/documentation
/syntheticemail/manifest.json             @rapdev @DataDog/marketplace @DataDog/agent-integrations @DataDog/marketplace-product-management @DataDog/documentation @DataDog/subscriptions-marketplace-review
/syntheticemail/datadog_checks            @rapdev @DataDog/agent-integrations @DataDog/marketplace-product-management

/rapdev_hpux_agent/                       @rapdev @DataDog/marketplace @DataDog/marketplace-product-management
/rapdev_hpux_agent/*.md                   @rapdev @DataDog/marketplace @DataDog/marketplace-product-management @DataDog/documentation
/rapdev_hpux_agent/datadog_checks         @rapdev @DataDog/agent-integrations @Datadog/marketplace-product-management

/rapdev_servicenow/                       @rapdev @DataDog/marketplace @DataDog/marketplace-product-management
/rapdev_servicenow/*.md                   @rapdev @DataDog/marketplace @DataDog/marketplace-product-management @DataDog/documentation
/rapdev_servicenow/manifest.json          @rapdev @DataDog/marketplace @DataDog/agent-integrations @DataDog/marketplace-product-management @DataDog/documentation @DataDog/subscriptions-marketplace-review
/rapdev_servicenow/datadog_checks         @rapdev @DataDog/agent-integrations @Datadog/marketplace-product-management

# Fairwinds
/fairwinds_insights/                      @baderbuddy @DataDog/marketplace @DataDog/marketplace-product-management
/fairwinds_insights/*.md                  @baderbuddy @DataDog/marketplace @DataDog/marketplace-product-management @DataDog/documentation
/fairwinds_insights/manifest.json         @baderbuddy @DataDog/marketplace @DataDog/agent-integrations @DataDog/marketplace-product-management @DataDog/documentation @DataDog/subscriptions-marketplace-review
/fairwinds_insights/datadog_checks        @baderbuddy @DataDog/agent-integrations @DataDog/marketplace-product-management

# Moogsoft
/moogsoft/                                @dave-casper @DataDog/marketplace @DataDog/marketplace-product-management
/moogsoft/*.md                            @dave-casper @DataDog/marketplace @DataDog/marketplace-product-management @DataDog/documentation
/moogsoft/manifest.json                   @dave-casper @DataDog/marketplace @DataDog/agent-integrations @DataDog/marketplace-product-management @DataDog/documentation @DataDog/subscriptions-marketplace-review
/moogsoft/datadog_checks                  @dave-casper @DataDog/agent-integrations @DataDog/marketplace-product-management

# IO Connect Services
/mulesoft_anypoint/                       @iocsdatadog @DataDog/marketplace @DataDog/marketplace-product-management
/mulesoft_anypoint/*.md                   @iocsdatadog @DataDog/marketplace @DataDog/marketplace-product-management @DataDog/documentation
/mulesoft_anypoint/manifest.json          @iocsdatadog @DataDog/marketplace @DataDog/agent-integrations @DataDog/marketplace-product-management @DataDog/documentation @DataDog/subscriptions-marketplace-review
/mulesoft_anypoint/datadog_checks         @iocsdatadog @DataDog/agent-integrations @DataDog/marketplace-product-management

# NerdVision
/nerdvision/                              @Umaaz @DataDog/marketplace @DataDog/marketplace-product-management
/nerdvision/*.md                          @Umaaz @DataDog/marketplace @DataDog/marketplace-product-management @DataDog/documentation
/nerdvision/manifest.json                 @Umaaz @DataDog/marketplace @DataDog/agent-integrations @DataDog/marketplace-product-management @DataDog/documentation @DataDog/subscriptions-marketplace-review
/nerdvision/datadog_checks                @Umaaz @DataDog/agent-integrations @DataDog/marketplace-product-management

# Ozcode
/ozcode/                                  @shatzi @DataDog/marketplace @DataDog/marketplace-product-management
/ozcode/*.md                              @shatzi @DataDog/marketplace @DataDog/marketplace-product-management @DataDog/documentation
/ozcode/manifest.json                     @shatzi @DataDog/marketplace @DataDog/agent-integrations @DataDog/marketplace-product-management @DataDog/documentation @DataDog/subscriptions-marketplace-review
/ozcode/datadog_checks                    @shatzi @DataDog/agent-integrations @DataDog/marketplace-product-management

# Trek10
/trek10_coverage_advisor/                 @jbowyer-trek10 @DataDog/marketplace @DataDog/marketplace-product-management
/trek10_coverage_advisor/*.md             @jbowyer-trek10 @DataDog/marketplace @DataDog/marketplace-product-management @DataDog/documentation
/trek10_coverage_advisor/manifest.json    @jbowyer-trek10 @DataDog/marketplace @DataDog/agent-integrations @DataDog/marketplace-product-management @DataDog/documentation @DataDog/subscriptions-marketplace-review
/trek10_coverage_advisor/datadog_checks   @jbowyer-trek10 @DataDog/agent-integrations @DataDog/marketplace-product-management

# TriggerMesh
/triggermesh/                             @sebgoa @DataDog/marketplace @DataDog/marketplace-product-management
/triggermesh/*.md                         @sebgoa @DataDog/marketplace @DataDog/marketplace-product-management @DataDog/documentation
/triggermesh/manifest.json                @sebgoa @DataDog/marketplace @DataDog/agent-integrations @DataDog/marketplace-product-management @DataDog/documentation @DataDog/subscriptions-marketplace-review
/triggermesh/datadog_checks               @sebgoa @DataDog/agent-integrations @DataDog/marketplace-product-management

# BigPanda
/bigpanda_saas/                           @AlienHoboken @DataDog/marketplace @DataDog/marketplace-product-management
/bigpanda_saas/*.md                       @AlienHoboken @DataDog/marketplace @DataDog/marketplace-product-management @DataDog/documentation
/bigpanda_saas/manifest.json              @AlienHoboken @DataDog/marketplace @DataDog/agent-integrations @DataDog/marketplace-product-management @DataDog/documentation @DataDog/subscriptions-marketplace-review
/bigpanda_saas/datadog_checks             @AlienHoboken @DataDog/agent-integrations @DataDog/marketplace-product-management

# Statsig
/statsig-statsig/                         @marcos-statsig @DataDog/marketplace @DataDog/marketplace-product-management
/statsig-statsig/*.md                     @marcos-statsig @DataDog/marketplace @DataDog/marketplace-product-management @DataDog/documentation
/statsig-statsig/manifest.json            @marcos-statsig @DataDog/marketplace @DataDog/agent-integrations @DataDog/marketplace-product-management @DataDog/documentation @DataDog/subscriptions-marketplace-review
/statsig-statsig/datadog_checks           @marcos-statsig @DataDog/agent-integrations @DataDog/marketplace-product-management
