# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another team can own the rest of the directory.

*                                         @DataDog/integrations-tools-and-libraries @DataDog/marketplace-product-management
/*/README.md                              @DataDog/integrations-tools-and-libraries @DataDog/agent-integrations @DataDog/marketplace-product-management @DataDog/documentation
datadog_checks/                           @DataDog/agent-integrations @Datadog/marketplace-product-management

# Rapdev
/o365/                                    @rapdev @DataDog/integrations-tools-and-libraries @DataDog/marketplace-product-management
/o365/*.md                                @rapdev @DataDog/integrations-tools-and-libraries @DataDog/agent-integrations @DataDog/marketplace-product-management @DataDog/documentation
/o365/datadog_checks/                     @rapdev @DataDog/agent-integrations @Datadog/marketplace-product-management

/oracle_timesten/                         @rapdev @DataDog/integrations-tools-and-libraries @DataDog/marketplace-product-management
/oracle_timesten/*.md                     @rapdev @DataDog/integrations-tools-and-libraries @DataDog/agent-integrations @DataDog/marketplace-product-management @DataDog/documentation
/oracle_timesten/datadog_checks/          @rapdev @DataDog/agent-integrations @Datadog/marketplace-product-management

/rapdev_maxdb/                            @rapdev @DataDog/integrations-tools-and-libraries @DataDog/marketplace-product-management
/rapdev_maxdb/*.md                        @rapdev @DataDog/integrations-tools-and-libraries @DataDog/agent-integrations @DataDog/marketplace-product-management @DataDog/documentation
/rapdev_maxdb/datadog_checks/             @rapdev @DataDog/agent-integrations @Datadog/marketplace-product-management

/rapdev_nutanix/                          @rapdev @DataDog/integrations-tools-and-libraries @DataDog/marketplace-product-management
/rapdev_nutanix/*.md                      @rapdev @DataDog/integrations-tools-and-libraries @DataDog/agent-integrations @DataDog/marketplace-product-management @DataDog/documentation
/rapdev_nutanix/datadog_checks/           @rapdev @DataDog/agent-integrations @Datadog/marketplace-product-management

/rapdev_services/                         @rapdev @DataDog/integrations-tools-and-libraries @DataDog/marketplace-product-management
/rapdev_services/*.md                     @rapdev @DataDog/integrations-tools-and-libraries @DataDog/agent-integrations @DataDog/marketplace-product-management @DataDog/documentation
/rapdev_services/datadog_checks           @rapdev @DataDog/agent-integrations @Datadog/marketplace-product-management

/rapdev_solaris_agent/                    @rapdev @DataDog/integrations-tools-and-libraries @DataDog/marketplace-product-management
/rapdev_solaris_agent/*.md                @rapdev @DataDog/integrations-tools-and-libraries @DataDog/agent-integrations @DataDog/marketplace-product-management @DataDog/documentation
/rapdev_solaris_agent/datadog_checks      @rapdev @DataDog/agent-integrations @Datadog/marketplace-product-management

/rapdev_zoom/                             @rapdev @DataDog/integrations-tools-and-libraries @DataDog/marketplace-product-management
/rapdev_zoom/*.md                         @rapdev @DataDog/integrations-tools-and-libraries @DataDog/agent-integrations @DataDog/marketplace-product-management @DataDog/documentation
/rapdev_zoom/datadog_checks               @rapdev @DataDog/agent-integrations @Datadog/marketplace-product-management

/rapdev-snmp-profiles/                    @rapdev @DataDog/integrations-tools-and-libraries @DataDog/marketplace-product-management
/rapdev-snmp-profiles/*.md                @rapdev @DataDog/integrations-tools-and-libraries @DataDog/agent-integrations @DataDog/marketplace-product-management @DataDog/documentation
/rapdev-snmp-profiles/datadog_checks      @rapdev @DataDog/agent-integrations @Datadog/marketplace-product-management

/reporter/                                @rapdev @DataDog/integrations-tools-and-libraries @DataDog/marketplace-product-management
/reporter/*.md                            @rapdev @DataDog/integrations-tools-and-libraries @DataDog/agent-integrations @DataDog/marketplace-product-management @DataDog/documentation
/reporter/datadog_checks                  @rapdev @DataDog/agent-integrations @Datadog/marketplace-product-management

/syntheticemail/                          @rapdev @DataDog/integrations-tools-and-libraries @DataDog/marketplace-product-management
/syntheticemail/*.md                      @rapdev @DataDog/integrations-tools-and-libraries @DataDog/agent-integrations @DataDog/marketplace-product-management @DataDog/documentation
/syntheticemail/datadog_checks            @rapdev @DataDog/agent-integrations @Datadog/marketplace-product-management

# Fairwinds
/fairwinds_insights/                      @baderbuddy @DataDog/integrations-tools-and-libraries @DataDog/marketplace-product-management
/fairwinds_insights/*.md                  @baderbuddy @DataDog/integrations-tools-and-libraries @DataDog/agent-integrations @DataDog/marketplace-product-management @DataDog/documentation
/fairwinds_insights/datadog_checks        @baderbuddy @DataDog/agent-integrations @Datadog/marketplace-product-management

# Moogsoft
/moogsoft/                                @dave-casper @DataDog/integrations-tools-and-libraries @DataDog/marketplace-product-management
/moogsoft/*.md                            @dave-casper @DataDog/integrations-tools-and-libraries @DataDog/agent-integrations @DataDog/marketplace-product-management @DataDog/documentation
/moogsoft/datadog_checks                  @dave-casper @DataDog/agent-integrations @Datadog/marketplace-product-management

# IO Connect Services
/mulesoft_anypoint/                       @iocsdatadog @DataDog/integrations-tools-and-libraries @DataDog/marketplace-product-management
/mulesoft_anypoint/*.md                   @iocsdatadog @DataDog/integrations-tools-and-libraries @DataDog/agent-integrations @DataDog/marketplace-product-management @DataDog/documentation
/mulesoft_anypoint/datadog_checks         @iocsdatadog @DataDog/agent-integrations @Datadog/marketplace-product-management

# NerdVision
/nerdvision/                              @Umaaz @DataDog/integrations-tools-and-libraries @DataDog/marketplace-product-management
/nerdvision/*.md                          @Umaaz @DataDog/integrations-tools-and-libraries @DataDog/agent-integrations @DataDog/marketplace-product-management @DataDog/documentation
/nerdvision/datadog_checks                @Umaaz @DataDog/agent-integrations @Datadog/marketplace-product-management

# Ozcode
/ozcode/                                  @shatzi @DataDog/integrations-tools-and-libraries @DataDog/marketplace-product-management
/ozcode/*.md                              @shatzi @DataDog/integrations-tools-and-libraries @DataDog/agent-integrations @DataDog/marketplace-product-management @DataDog/documentation
/ozcode/datadog_checks                    @shatzi @DataDog/agent-integrations @Datadog/marketplace-product-management

# Trek10
/trek10_coverage_advisor/                 @jbowyer-trek10 @DataDog/integrations-tools-and-libraries @DataDog/marketplace-product-management
/trek10_coverage_advisor/*.md             @jbowyer-trek10 @DataDog/integrations-tools-and-libraries @DataDog/agent-integrations @DataDog/marketplace-product-management @DataDog/documentation
/trek10_coverage_advisor/datadog_checks   @jbowyer-trek10 @DataDog/agent-integrations @Datadog/marketplace-product-management

# TriggerMesh
/triggermesh/                             @sebgoa @DataDog/integrations-tools-and-libraries @DataDog/marketplace-product-management
/triggermesh/*.md                         @sebgoa @DataDog/integrations-tools-and-libraries @DataDog/agent-integrations @DataDog/marketplace-product-management @DataDog/documentation
/triggermesh/datadog_checks               @sebgoa @DataDog/agent-integrations @Datadog/marketplace-product-management

# BigPanda
/bigpanda_saas/                           @AlienHoboken @DataDog/integrations-tools-and-libraries @DataDog/marketplace-product-management
/bigpanda_saas/*.md                       @AlienHoboken @DataDog/integrations-tools-and-libraries @DataDog/agent-integrations @DataDog/marketplace-product-management @DataDog/documentation
/bigpanda_saas/datadog_checks             @AlienHoboken @DataDog/agent-integrations @Datadog/marketplace-product-management
