## All options defined here are available to all instances.
#
init_config:

    ## @param api_key - string - optional
    ## Datadog api key, used when api_key is not defined per instance. If left blank, the key from datadog.yaml is used.
    #
    # api_key: <API_KEY>

    ## @param app_key - string - optional
    ## Datadog app key, only used for instances where app_key is not defined at the instance level.
    #
    # app_key: <APP_KEY>

    ## @param service - string - optional
    ## Attach the tag `service:<SERVICE>` to every metric, event, and service check emitted by this integration.
    ##
    ## Additionally, this sets the default `service` for every log source.
    #
    # service: <SERVICE>

## Every instance is scheduled independent of the others.
#
instances:

  -
    ## @param api_key - string - optional
    ## Datadog api key specifically for a single instance, takes precedence over other api_key definitions.
    #
    # api_key: <API_KEY>

    ## @param app_key - string - optional
    ## Datadog app key specifically for a single instance, takes precedence over other app_key definitions.
    #
    # app_key: <APP_KEY>

    ## @param required_tags - mapping - required
    ## List of key/value pair tags that the check is looking for on each Agent. 
    #
    required_tags: {}

    ## @param ignore_paas - boolean - optional - default: false
    ## Flag when set to true ignores validation for hosts using apps ALB, ELB, NLB, and RDS. 
    #
    # ignore_paas: false

    ## @param hosts_to_ignore - list of strings - optional
    ## List of python regexes to match host names that we want to ignore validation on.
    #
    # hosts_to_ignore: []

    ## @param tags - list of strings - optional
    ## A list of tags to attach to every metric and service check emitted by this instance.
    ##
    ## Learn more about tagging at https://docs.datadoghq.com/tagging
    #
    # tags:
    #   - <KEY_1>:<VALUE_1>
    #   - <KEY_2>:<VALUE_2>

    ## @param service - string - optional
    ## Attach the tag `service:<SERVICE>` to every metric, event, and service check emitted by this integration.
    ##
    ## Overrides any `service` defined in the `init_config` section.
    #
    # service: <SERVICE>

    ## @param min_collection_interval - number - optional - default: 15
    ## This changes the collection interval of the check. For more information, see:
    ## https://docs.datadoghq.com/developers/write_agent_check/#collection-interval
    #
    # min_collection_interval: 15

    ## @param empty_default_hostname - boolean - optional - default: false
    ## This forces the check to send metrics with no hostname.
    ##
    ## This is useful for cluster-level checks.
    #
    # empty_default_hostname: false
